# My project

In [1]:
import pandas as pd
import numpy as np

## Loading

In [2]:
df_steps = pd.read_csv('/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteStepsNarrow_merged.csv')
df_met = pd.read_csv('/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteMETsNarrow_merged.csv')
df_calories = pd.read_csv('/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteCaloriesNarrow_merged.csv')
df_intens = pd.read_csv('/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteIntensitiesNarrow_merged.csv')

In [3]:
df_steps.info()
df_steps.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   Steps           1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB

(1325580, 3)

In [4]:
df_steps['ActivityMinute'] = pd.to_datetime(
    df_steps['ActivityMinute'],
    format="%m/%d/%Y %I:%M:%S %p",
    errors='coerce')

In [5]:
df_met.head()

           Id         ActivityMinute  METs
0  1503960366  4/12/2016 12:00:00 AM    10
1  1503960366  4/12/2016 12:01:00 AM    10
2  1503960366  4/12/2016 12:02:00 AM    10
3  1503960366  4/12/2016 12:03:00 AM    10
4  1503960366  4/12/2016 12:04:00 AM    10

In [6]:
df_met.info()
df_met.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   METs            1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB

(1325580, 3)

In [7]:
df_met['ActivityMinute'] = pd.to_datetime(
    df_met['ActivityMinute'],
    format="%m/%d/%Y %I:%M:%S %p",
    errors='coerce')

In [8]:
df_calories.info()
df_calories.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   Calories        1325580 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.3+ MB

(1325580, 3)

In [9]:
df_calories['ActivityMinute'] = pd.to_datetime(
    df_calories['ActivityMinute'],
    format="%m/%d/%Y %I:%M:%S %p",
    errors='coerce')

In [10]:
df_intens.info()
df_intens.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   Intensity       1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB

(1325580, 3)

In [11]:
df_intens['ActivityMinute'] = pd.to_datetime(
    df_intens['ActivityMinute'],
    format="%m/%d/%Y %I:%M:%S %p",
    errors='coerce')

In [12]:
df_hr = pd.read_csv('/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/heartrate_seconds_merged.csv')

In [13]:
df_hr.info()
df_hr.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    object
 2   Value   int64
dtypes: int64(2), object(1)
memory usage: 56.8+ MB

(2483658, 3)

In [14]:
df_hr['Time'] = pd.to_datetime(
    df_hr['Time'],
    format="%m/%d/%Y %I:%M:%S %p",
    errors='coerce')

In [15]:
df_hr['ActivityMinute'] = df_hr['Time'].dt.floor('min')
df_hr.drop(columns='Time', inplace=True)

In [16]:
df_hr = (
    df_hr
    .groupby(['Id', 'ActivityMinute'], as_index=False)['Value']
    .mean()
    .rename(columns={'Value': 'AvgHeartRate'})
)

In [17]:
df_hr['AvgHeartRate'] = df_hr['AvgHeartRate'].round().astype(int)

In [18]:
df_hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333420 entries, 0 to 333419
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Id              333420 non-null  int64
 1   ActivityMinute  333420 non-null  datetime64[ns]
 2   AvgHeartRate    333420 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 7.6 MB

**Note:**
Heart rate measurements (`AvgHeartRate`) appear to be incomplete — not every `Id` and `ActivityMinute` pair has a corresponding value.
To avoid introducing `NaN` values during merging, I’ve chosen **not to join** the heart rate table at this stage.
Further analysis will be performed separately, with attention to data coverage and consistency.

### other tables

In [19]:
df_activities = pd.read_csv('/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv')
df_sleep = pd.read_csv('/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/sleepDay_merged.csv')
df_weight = pd.read_csv('/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/weightLogInfo_merged.csv')

In [20]:
df_activities.info()
df_activities.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

(940, 15)

In [21]:
df_activities['ActivityDate'] = pd.to_datetime(
    df_activities['ActivityDate'],
    format="%m/%d/%Y",
    errors='coerce')

In [22]:
df_activities.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-04-12,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,2016-04-13,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,2016-04-14,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,2016-04-15,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,2016-04-16,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [23]:
df_sleep.info()
df_sleep.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  413 non-null    int64
 1   SleepDay            413 non-null    object
 2   TotalSleepRecords   413 non-null    int64
 3   TotalMinutesAsleep  413 non-null    int64
 4   TotalTimeInBed      413 non-null    int64
dtypes: int64(4), object(1)
memory usage: 16.3+ KB

(413, 5)

In [24]:
df_sleep['SleepDay'] = pd.to_datetime(
    df_sleep['SleepDay'],
    format="%m/%d/%Y %I:%M:%S %p",
    errors='coerce')

In [25]:
df_sleep.head()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,2016-04-12,1,327,346
1,1503960366,2016-04-13,2,384,407
2,1503960366,2016-04-15,1,412,442
3,1503960366,2016-04-16,2,340,367
4,1503960366,2016-04-17,1,700,712

In [26]:
df_weight.info()
df_weight.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     object
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), float64(4), int64(2), object(1)
memory usage: 3.9+ KB

(67, 8)

In this table, there are **only two values in the column Fat**, so we will not use it in further analysis.

In [27]:
df_weight['Date'] = pd.to_datetime(
    df_weight['Date'],
    format="%m/%d/%Y %I:%M:%S %p",
    errors='coerce')

In [28]:
df_weight.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,2016-05-02 23:59:59,52.599998,115.963147,22.0,22.650000,True,1462233599000
1,1503960366,2016-05-03 23:59:59,52.599998,115.963147,NaN,22.650000,True,1462319999000
2,1927972279,2016-04-13 01:08:52,133.500000,294.317120,NaN,47.540001,False,1460509732000
3,2873212765,2016-04-21 23:59:59,56.700001,125.002104,NaN,21.450001,True,1461283199000
4,2873212765,2016-05-12 23:59:59,57.299999,126.324875,NaN,21.690001,True,1463097599000

This warning occurs because **the column Fat contains missing values (NaN)**, which lead to invalid comparisons during formatting. No worries.

## Merging

In [29]:
df_merged = df_steps.copy()
df_merged = df_merged.merge(df_met, on=['Id', 'ActivityMinute'], how='outer')
df_merged = df_merged.merge(df_calories, on=['Id', 'ActivityMinute'], how='outer')
df_merged = df_merged.merge(df_intens, on=['Id', 'ActivityMinute'], how='outer')

In [30]:
df_merged.info()
df_merged.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  datetime64[ns]
 2   Steps           1325580 non-null  int64
 3   METs            1325580 non-null  int64
 4   Calories        1325580 non-null  float64
 5   Intensity       1325580 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 60.7 MB

(1325580, 6)

## Cleaning

In [31]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  datetime64[ns]
 2   Steps           1325580 non-null  int64
 3   METs            1325580 non-null  int64
 4   Calories        1325580 non-null  float64
 5   Intensity       1325580 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 60.7 MB

In [32]:
df_merged.describe(include='all')

,Id,ActivityMinute,Steps,METs,Calories,Intensity
count,1.325580e+06,1325580,1.325580e+06,1.325580e+06,1.325580e+06,1.325580e+06
mean,4.847898e+09,2016-04-26 12:09:55.148237312,5.336192e+00,1.469001e+01,1.623130e+00,2.005937e-01
min,1.503960e+09,2016-04-12 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.320127e+09,2016-04-19 01:51:00,0.000000e+00,1.000000e+01,9.357000e-01,0.000000e+00
50%,4.445115e+09,2016-04-26 06:27:00,0.000000e+00,1.000000e+01,1.217600e+00,0.000000e+00
75%,6.962181e+09,2016-05-03 18:55:00,0.000000e+00,1.100000e+01,1.432700e+00,0.000000e+00
max,8.877689e+09,2016-05-12 15:59:00,2.200000e+02,1.570000e+02,1.974995e+01,3.000000e+00
std,2.422313e+09,NaN,1.812830e+01,1.205541e+01,1.410447e+00,5.190227e-01

In [33]:
df_merged.head()

           Id      ActivityMinute  Steps  METs  Calories  Intensity
0  1503960366 2016-04-12 00:00:00      0    10    0.7865          0
1  1503960366 2016-04-12 00:01:00      0    10    0.7865          0
2  1503960366 2016-04-12 00:02:00      0    10    0.7865          0
3  1503960366 2016-04-12 00:03:00      0    10    0.7865          0
4  1503960366 2016-04-12 00:04:00      0    10    0.7865          0

It looks pretty good

In [34]:
df_hr.describe(include='all')

                 Id                 ActivityMinute   AvgHeartRate
count  3.334200e+05                         333420  333420.000000
mean   5.637876e+09  2016-04-26 09:23:51.819147264      73.711022
min    2.022484e+09            2016-04-12 00:00:00      37.000000
25%    4.388162e+09            2016-04-19 08:08:00      62.000000
50%    5.577150e+09            2016-04-26 08:44:00      70.000000
75%    6.962181e+09            2016-05-03 08:58:00      83.000000
max    8.877689e+09            2016-05-12 16:20:00     202.000000
std    1.938998e+09                            NaN      16.561728

In [35]:
df_hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333420 entries, 0 to 333419
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Id              333420 non-null  int64
 1   ActivityMinute  333420 non-null  datetime64[ns]
 2   AvgHeartRate    333420 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 7.6 MB

Aslo good

In [36]:
df_activities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    datetime64[ns]
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(7)
memory usage: 110.3 KB

In [37]:
df_activities.describe(include='all')

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
count,9.400000e+02,940,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000
mean,4.855407e+09,2016-04-26 06:53:37.021276672,7637.910638,5.489702,5.475351,0.108171,1.502681,0.567543,3.340819,0.001606,21.164894,13.564894,192.812766,991.210638,2303.609574
min,1.503960e+09,2016-04-12 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.320127e+09,2016-04-19 00:00:00,3789.750000,2.620000,2.620000,0.000000,0.000000,0.000000,1.945000,0.000000,0.000000,0.000000,127.000000,729.750000,1828.500000
50%,4.445115e+09,2016-04-26 00:00:00,7405.500000,5.245000,5.245000,0.000000,0.210000,0.240000,3.365000,0.000000,4.000000,6.000000,199.000000,1057.500000,2134.000000
75%,6.962181e+09,2016-05-04 00:00:00,10727.000000,7.712500,7.710000,0.000000,2.052500,0.800000,4.782500,0.000000,32.000000,19.000000,264.000000,1229.500000,2793.250000
max,8.877689e+09,2016-05-12 00:00:00,36019.000000,28.030001,28.030001,4.942142,21.920000,6.480000,10.710000,0.110000,210.000000,143.000000,518.000000,1440.000000,4900.000000
std,2.424805e+09,NaN,5087.150742,3.924606,3.907276,0.619897,2.658941,0.883580,2.040655,0.007346,32.844803,19.987404,109.174700,301.267437,718.166862

No negative values or abnormally high values

In [38]:
df_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  413 non-null    int64
 1   SleepDay            413 non-null    datetime64[ns]
 2   TotalSleepRecords   413 non-null    int64
 3   TotalMinutesAsleep  413 non-null    int64
 4   TotalTimeInBed      413 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 16.3 KB

In [39]:
df_sleep.describe(include='all')

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
count,4.130000e+02,413,413.000000,413.000000,413.000000
mean,5.000979e+09,2016-04-26 12:40:05.811137792,1.118644,419.467312,458.639225
min,1.503960e+09,2016-04-12 00:00:00,1.000000,58.000000,61.000000
25%,3.977334e+09,2016-04-19 00:00:00,1.000000,361.000000,403.000000
50%,4.702922e+09,2016-04-27 00:00:00,1.000000,433.000000,463.000000
75%,6.962181e+09,2016-05-04 00:00:00,1.000000,490.000000,526.000000
max,8.792010e+09,2016-05-12 00:00:00,3.000000,796.000000,961.000000
std,2.060360e+09,NaN,0.345521,118.344679,127.101607

In [40]:
df_weight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     datetime64[ns]
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2)
memory usage: 3.9 KB



**Checking for dublicates**

In [41]:
df_merged.duplicated(subset=['Id', 'ActivityMinute']).sum()

0

In [42]:
df_hr.duplicated(subset=['Id', 'ActivityMinute']).sum()

0

In [43]:
df_activities.duplicated(subset=['Id', 'ActivityDate']).sum()

0

In [44]:
df_weight.duplicated(subset=['Id', 'Date']).sum()

0

No dubclicates

In [45]:
df_sleep.duplicated(subset=['Id', 'SleepDay']).sum()

3

In [46]:
# Show dublicates
df_sleep[df_sleep.duplicated(subset=['Id', 'SleepDay'], keep=False)]

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
160,4388161847,2016-05-05,1,471,495
161,4388161847,2016-05-05,1,471,495
222,4702921684,2016-05-07,1,520,543
223,4702921684,2016-05-07,1,520,543
379,8378563200,2016-04-25,1,388,402
380,8378563200,2016-04-25,1,388,402

In [47]:
# Removing and reseting index
df_sleep = df_sleep.drop_duplicates(subset=['Id', 'SleepDay'], keep='first')
df_sleep = df_sleep.reset_index(drop=True)

In [48]:
df_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  410 non-null    int64
 1   SleepDay            410 non-null    datetime64[ns]
 2   TotalSleepRecords   410 non-null    int64
 3   TotalMinutesAsleep  410 non-null    int64
 4   TotalTimeInBed      410 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 16.1 KB

### Edited

While working with visualization in Tableau, I noticed a problem: the data on daily activity does not quite match the daily data on sleep. That is, daily activity occurs on a specific day, while sleep usually occurs on the following day (00:00 - 23:59). Therefore, I will make an adjustment so that it is possible to aggregate correctly by day.

In [49]:
  df_sleep['activity_date'] = df_sleep['SleepDay'] - pd.Timedelta(days=1)

## Export

In [50]:
df_merged.to_csv('fitbit_cleaned.csv', index=False)

In [51]:
df_hr.to_csv('fitbit_heart.csv', index=False)

In [52]:
df_activities.to_csv('fitbit_dailyActivities.csv', index=False)
df_sleep.to_csv('fitbit_sleep.csv', index=False)
df_weight.to_csv('fitbit_weight.csv', index=False)